button{
    width:100px;
    height:30px;
}
.botones div{
    display: flex;
    flex-direction: row;
}

.descripcion div{
    display: flex;
    flex-direction: column;
}

.descripcion-general{
    display: flex;
    flex-direction: column;
}
